$bgcolor: rgb(26, 26, 26);
$contrastbgcolor: white;
$contrasttextcolor: rgb(26, 26, 26);
$textcolor: white;
$navbarwidth: 12rem;
$navbarheightcompressed: 4rem;
$animationspeed: 500ms;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    margin: 0 !important;
    height: 100%;
}

body {
    //font-family: "Open Sans", sans-serif;
    background-color: $bgcolor;
    margin: 0 !important;
    padding: 0;
    height: 100%;

}

.icon-enclose {
    position: relative;
    object-fit: contain;
}

//trashbin

$trashColor1: #95afc0;
$trashColor2: #535c68;
$trashColor3: #dff9fb;
$transition: all 0.2s ease-in-out;



.expense {
    color: $textcolor;
    display:grid;
    grid-template-areas: "icon name cost del" "icon type time del";
    opacity: 0.95;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 1.5vh 0.5vh;
    grid-template-columns: 14vw 7fr 3fr;
    align-items: center;
    padding: 0.5vh;

    .expense-icon {
        background-color: $contrastbgcolor;
        border-radius: 3vw;
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 13vw;
        padding: 1.5vw;
        transition: all 1s;
    }

    .expense-name {
        grid-area: name;
        display: flex;
        font-size: clamp(1rem, 2vw + 0.5rem, 3rem);
        font-weight: bold;
        margin-left: 10px;
    }

    .expense-cost {
        grid-area: cost;
        display: flex;
        font-size: clamp(1rem, 2vw + 0.5rem, 3rem);
        justify-content: flex-end;
        font-weight: bold;
        margin-right: 10px;
    }
    
    .expense-type {
        grid-area: type;
        display: flex;
        font-size: clamp(0.7rem, 2vw + 0.4rem, 1.5rem);
        margin-left: 10px;
    }
    
    .expense-time {
        grid-area: time;
        display: flex;
        font-size: clamp(0.7rem, 2vw + 0.4rem, 1.5rem);
        justify-content: flex-end;
        margin-right: 10px;
    }

    .expense-delete {
        width: 50px;
        height: 50px;
        position: relative;
        grid-area: del;
        cursor: pointer;    

        //Hover 
        &:hover .trash-top {
          //open the lid
          transform: translate(-50%, -15%) rotate(-20deg); 
        }
      
        &:hover .trash-btm {
          //rotate the bottom a little
          transform: translate(-50%, -100%) rotate(5deg); 
        }
      
        &:hover .trash {
          top: 50%;
          transform: translate(-42%, -50%) rotate(35deg); //comes from bottom
        }
      
        //trash-lid
        .trash-top {
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translate(-50%, -15%);
          width: 80%;
          height: 15%;
          background: $trashColor1;
          border-radius: 5px;
          transform-origin: left bottom;
          transition: $transition;
          
          //the top of lid
          &::before {
            content: "";
            position: absolute;
            bottom: 95%;
            left: 50%;
            transform: translate(-50%);
            width: 30%;
            height: 80%;
            background: inherit;
            border-radius: 5px 5px 0 0;
          }
        }
      
        //trash-can-bottom
        .trash-btm {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -100%);
          width: 70%;
          height: 65%;
          background: $trashColor1;
          border-radius: 5px;
          transform-origin: left 70%; //transform left-side and 70% from top
          transition: $transition;
      
          //lines in the middle
          .trash-lines {
            //centering
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //
            width: 60%;
            height: 80%;
            display: flex;
            justify-content: space-around; //or space-between
      
            .trash-line {
              width: 20%;
              height: 100%;
              background: darken($trashColor1, 10%); //make color 10% darker
              border-radius: 3px;
            }
          }
        }
        //trash in(behind) the can
        
        .trash {
          position: absolute;
          top: 80%;
          left: 38%;
          transform: translate(-38%, -80%) rotate(35deg);
          width: 40%;
          height: 40%;
          background: $trashColor3;
          border-radius: 2px;
          transition: $transition;
      
        //second trash
          &::before {
            content: "";
            position: absolute;
            transform: translate(30%, -20%) rotate(25deg);
            width: 100%;
            height: 100%;
            background: darken($trashColor3, 10%);
            border-radius: 2px;
          }
        }
      }
}

h3 {
    color: white;
}

form {
    margin-bottom: 10px;
}

main {
    @include flex-center;
    flex-direction: column;
    margin: 20px;
    margin-left: calc($navbarwidth + 20px);
    width: calc(100vw - $navbarwidth - 40px);

    h1 {
        color: $textcolor;
    }
}

.remaining_budget {
    p {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    color: black;
    background-color:$contrastbgcolor;
    opacity: 0.95;
    border-radius: 25px;
    padding: 1rem 4rem;
    margin: auto;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 3rem);
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.3;
}

.expense-table {
    width: 100%;
    h3 {
        color: $textcolor;
    }
}

/* Navbar styling */

.nav-link-active {
    outline: 5px solid black;
    outline-offset: -5px;
}

nav {
    z-index: 1;
    color: $textcolor;
    background-color: $contrastbgcolor;
    width: $navbarwidth;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar-logo {
        @include flex-center;
        height: $navbarwidth;
        width: $navbarwidth;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-items {
        height: $navbarheightcompressed;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;

        ul {
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            li {
                height: 100%;
                list-style: none;
                height: $navbarheightcompressed;
                margin-bottom: 1rem;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
                a {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    text-decoration: none;
                    color: $contrasttextcolor;
                    height: 100%;
                    width: 100%;

                    svg {
                        padding-left: 1rem;
                        width: 3rem !important;
                        height: 3rem !important;
                        margin-right: 0.3rem;
                    }
                }
            }

            li:hover {
                background-color: gray;
                
                a {
                    color: $textcolor;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        top: auto;
        bottom: 0;
        width: 100vw;
        height: $navbarheightcompressed; 
        flex-direction: row;

        .navbar-logo {
            display: none;
        }

        .navbar-items {
            flex-direction: row;
            align-items: center;
            margin: 0 10px;
            height: 100%;

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                margin: 0;
                height: 100%;

                li {
                    width: 100%;
                    margin: 0;
                }
            }
        }

    }

    main {
        margin: 20px;
        padding-bottom: calc($navbarheightcompressed + 20px);
        width: calc(100vw - 40px);
    }


}

/* Scrollbar styling */

/* Scrollbar styling */


body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
    background: white;
}